@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-size: 15px;
		--border-radius: 0.9423466667rem;
		--background: rgb(255, 255, 255);
		--foreground: rgb(0, 0, 0);
		--border: var(--foreground);
		--primary: rgb(224, 35, 26);
		--secondary: rgb(1, 103, 167);
		--accent: rgb(132, 132, 132);

		--layer-0: var(--background);
		--layer-1: rgb(249, 249, 249);
		--layer-2: rgb(243, 243, 243);
		--layer-3: rgb(237, 237, 237);
		--layer-4: rgb(231, 231, 231);
		--layer-5: rgb(225, 225, 225);
	}

	[data-theme="dark"] {
		--background: rgb(0, 0, 0);
		--foreground: rgb(255, 255, 255);
		--accent: rgb(176, 176, 176);

		--layer-1: rgb(19, 19, 19);
		--layer-2: rgb(38, 38, 38);
		--layer-3: rgb(57, 57, 57);
		--layer-4: rgb(76, 76, 76);
		--layer-5: rgb(95, 95, 95);
	}

	body {
		@apply bg-background text-foreground;
	}

	html {
		font-size: var(--font-size);
	}

	.rounded-underline::after {
		content: "";
		height: 0.15rem;
		margin-top: -0.1em;
		background: currentColor;
		border-radius: 0.5rem;
		display: block;
	}

	.layer-1-container {
		@apply bg-gradient-to-t from-layer-0 to-layer-1 rounded relative shadow-sm border border-layer-5/50;
	}

	@keyframes gradient-pulse {
		0% {
			opacity: 0.226;
		}
		15% {
			opacity: 0.326;
		}
		30% {
			opacity: 0.626;
		}
		45% {
			opacity: 0.726;
		}
		60% {
			opacity: 0.626;
		}
		75% {
			opacity: 0.426;
		}
		85% {
			opacity: 0.326;
		}
		100% {
			opacity: 0.226;
		}
	}

	@keyframes spotlight-wobble-1 {
		0% {
			background-image: radial-gradient(90% 86% at 50% 0%, transparent 0%, var(--layer-0) 90%);
		}
		25% {
			background-image: radial-gradient(90% 86% at 48% 2%, transparent 0%, var(--layer-0) 90%);
		}
		50% {
			background-image: radial-gradient(90% 86% at 52% 3%, transparent 0%, var(--layer-0) 90%);
		}
		75% {
			background-image: radial-gradient(90% 86% at 48% 1%, transparent 0%, var(--layer-0) 90%);
		}
		100% {
			background-image: radial-gradient(90% 86% at 50% 0%, transparent 0%, var(--layer-0) 90%);
		}
	}

	@keyframes spotlight-wobble-2 {
		0% {
			background-image: radial-gradient(90% 86% at 50% 0%, transparent 0%, var(--layer-0) 68.4%);
		}
		25% {
			background-image: radial-gradient(90% 86% at 51% 3%, transparent 0%, var(--layer-0) 68.4%);
		}
		50% {
			background-image: radial-gradient(90% 86% at 49% 2%, transparent 0%, var(--layer-0) 68.4%);
		}
		75% {
			background-image: radial-gradient(90% 86% at 52% 1%, transparent 0%, var(--layer-0) 68.4%);
		}
		100% {
			background-image: radial-gradient(90% 86% at 50% 0%, transparent 0%, var(--layer-0) 68.4%);
		}
	}

	@keyframes spotlight-wobble-3 {
		0% {
			background-image: radial-gradient(90% 86% at 50% 0%, transparent 0%, var(--layer-0) 38.4%);
		}
		25% {
			background-image: radial-gradient(90% 86% at 49% 1%, transparent 0%, var(--layer-0) 38.4%);
		}
		50% {
			background-image: radial-gradient(90% 86% at 51% 2%, transparent 0%, var(--layer-0) 38.4%);
		}
		75% {
			background-image: radial-gradient(90% 86% at 48% 1%, transparent 0%, var(--layer-0) 38.4%);
		}
		100% {
			background-image: radial-gradient(90% 86% at 50% 0%, transparent 0%, var(--layer-0) 38.4%);
		}
	}
}
